footer
{
    max-width: 100%;
    background-color: #F2F2F2;
    display: flex;
}

.footerAssistance,.footerHebergement,.footerPropos
{
    display: flex;
    flex-direction: column;
    margin-left: 5%;

}

h2
{
    height: auto;
    font-weight: bold;
    margin: 5px 0px;
    padding: 5px;
    padding-left: 10px;
}

footer a
{
    height: auto;
    font-size: 12px;
    padding-left: 10px;
    margin-bottom: 10px;
}